body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #2a2a2a;
    display:flex;
    align-items: center;
}

.container{
    display: flex;
    width: 60%;
    height: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.left1{
    background-image: url('Zelda background.jpg');
    height: 100%;
    width: 45%;
    background-size: cover;
    background-position: 76% 0;
}

.profileTitle{
    position: absolute;
    color: #FFF;
    text-align: center;
    width: 100%;

}
.name{
    font-size: 30px;
}
